body{
  background-color: #e6e6e6;
  color: gray;
  font-family: 'Roboto', sans-serif;
}


.add-button{
  position: Fixed;
  right: 50px;
  top: 500px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: orange;
  cursor: pointer
  }

  .add-button:hover{
    opacity: 0.7;
  }

.addp{
  display: inline-block;
  margin: 10px 10px 0 0;
  padding: 18px 32px; 
  z-index: 90;
}